@use "./base.scss";

// put your custom CSS here!
.callout[data-callout="cardio"] {
    --callout-icon: heart-pulse;
}
.callout[data-callout="derma"] {
    --callout-icon: hand;
}
.callout[data-callout="ent"] {
    --callout-icon: ear;
}
.callout[data-callout="endocrinology"] {
    --callout-icon: thermometer;
}
.callout[data-callout="gastroenterology"] {
    --callout-icon: utensils;
}
.callout[data-callout="genetics"] {
    --callout-icon: dna;
}
.callout[data-callout="haematology"] {
    --callout-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-syringe'%3E%3Cpath d='m18 2 4 4'/%3E%3Cpath d='m17 7 3-3'/%3E%3Cpath d='M19 9 8.7 19.3c-1 1-2.5 1-3.4 0l-.6-.6c-1-1-1-2.5 0-3.4L15 5'/%3E%3Cpath d='m9 11 4 4'/%3E%3Cpath d='m5 19-3 3'/%3E%3Cpath d='m14 4 6 6'/%3E%3C/svg%3E");
}
.callout[data-callout="immunology"] {
    --callout-icon: shield;
}
.callout[data-callout="infectious-disease"] {
    --callout-icon: biohazard;
}
.callout[data-callout="musculoskeletal"] {
    --callout-icon: bone;
}
.callout[data-callout="neurology"] {
    --callout-icon: brain;
}
.callout[data-callout="ophthalmology"] {
    --callout-icon: eye;
}
.callout[data-callout="clinical-textbook"] {
    --callout-icon: book;
}
